// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-dark.scss` and adding the variables you need.

//
// Global colors
//

// scss-docs-start sass-dark-mode-vars
$body-color-dark:                   var(--#{$prefix}gray-300) !default;
$body-bg-dark:                      var(--#{$prefix}gray-900) !default;
$body-secondary-color-dark:         color-mix(in srgb, $body-color-dark, transparent 25%) !default;
$body-secondary-bg-dark:            var(--#{$prefix}gray-800) !default;
$body-tertiary-color-dark:          color-mix(in srgb, $body-color-dark, transparent 50%) !default;
$body-tertiary-bg-dark:             color-mix(in srgb, var(--#{$prefix}gray-800), var(--#{$prefix}gray-900) 50%) !default;
$body-emphasis-color-dark:          var(--#{$prefix}white) !default;
$border-color-dark:                 var(--#{$prefix}gray-700) !default;
$border-color-translucent-dark:     color-mix(in srgb, var(--#{$prefix}white), transparent 85%) !default;
$headings-color-dark:               inherit !default;
$link-color-dark:                   color-mix(in srgb, var(--#{$prefix}primary), white 40%) !default;
$link-hover-color-dark:             color-mix(in srgb, $link-color-dark, black #{$link-shade-percentage}) !default;
$code-color-dark:                   color-mix(in srgb, $code-color, white 40%) !default;
$mark-color-dark:                   $body-color-dark !default;
$mark-bg-dark:                      var(--#{$prefix}yellow-800) !default;


//
// Forms
//

$form-select-indicator-color-dark:  $body-color-dark !default;
$form-select-indicator-dark:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

$form-switch-color-dark:            color-mix(in srgb, var(--#{$prefix}white), transparent 75%) !default;
$form-switch-bg-image-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>") !default;

// scss-docs-start form-validation-colors-dark
$form-valid-color-dark:             var(--#{$prefix}green-300) !default;
$form-valid-border-color-dark:      var(--#{$prefix}green-300) !default;
$form-invalid-color-dark:           var(--#{$prefix}red-300) !default;
$form-invalid-border-color-dark:    var(--#{$prefix}red-300) !default;
// scss-docs-end form-validation-colors-dark


//
// Accordion
//

$accordion-icon-color-dark:         var(--#{$prefix}primary-text-emphasis-dark) !default;
$accordion-icon-active-color-dark:  var(--#{$prefix}primary-text-emphasis-dark) !default;

$accordion-button-icon-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>") !default;
$accordion-button-active-icon-dark:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>") !default;
// scss-docs-end sass-dark-mode-vars


//
// Carousel
//

$carousel-indicator-active-bg-dark:   $carousel-dark-indicator-active-bg !default;
$carousel-caption-color-dark:         $carousel-dark-caption-color !default;
$carousel-control-icon-filter-dark:   $carousel-dark-control-icon-filter !default;

//
// Close button
//

$btn-close-filter-dark:             $btn-close-white-filter !default;
